@model Final.Models.Marca
@{
    ViewData["Title"] = "Crear marca";
}

<div class="container-lg col-4">
    <h1>Registrar Marca</h1>
    <form asp-action="CrearMarca" method="POST" onsubmit="return validarCampos();">
        >
        <!-- Nombre -->
        <div class="input-group mb-3">
            <label asp-for="Nombre" class="input-group-text">Nombre</label>
            <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingresar Nombre" id="nombre">
        </div>

        <!-- Fecha Alta -->
        <div class="input-group mb-3">
            <label asp-for="FechaAlta" class="input-group-text">Fecha de alta</label>
            <input asp-for="FechaAlta" type="datetime" class="form-control" id="fechaAlta" value="@DateTime.Now" readonly>
        </div>

        <!-- Activo -->
        <div class="form-group">
            <label asp-for="Activo">Activo:</label>
            <select asp-for="Activo" id="Activo" name="Activo" class="form-control" disabled value="True">
                <option value="True">Activo</option>
                <option value="False">Inactivo</option>
            </select>
        </div>
        <br>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

<script src="~/js/Validaciones/CrearMarca.js"></script>