@using Final.Models;
@model Final.Models.Marca
@{
    ViewData["Title"] = "Editar marca";
}

<h1>Editar marca</h1>

<form asp-action="EditarMarca" method="post">
    <div class="form-group">
        <label asp-for="Nombre">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <!-- Fecha Alta -->
    <div class="form-group">
        <label asp-for="FechaAlta">Fecha Alta</label>
        <input asp-for="FechaAlta" class="form-control" readonly />
    </div>


    <!-- Activo -->
    <div class="input-group mb-3">
        <label asp-for="Activo" class="input-group-text">Activo</label>
        <select asp-for="Activo" id="Activo" name="Activo" class="form-control">
            <option value="True">Activo</option>
            <option value="False">Inactivo</option>
        </select>
    </div>


    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>