<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria</title>
</head>
<body>

    <h1>Pantalla para crear una categoria</h1>
    
    <label for="Categoria">Ingrese el nombre de la categoria:</label>
    <input type="text" id="Categoria" name="Categoria" placeholder="Nombre de la categoria">
    <br>
    <input type="button" value="Guardar" onclick="CrearCategoria()">

</body>
</html>