<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuario</title>
</head>
<body>

    <h1>Pantalla para crear un usuario</h1>
    
    <label for="NombreUsuario">Ingrese el nombre de usuario:</label>
    <input type="text" id="NombreUsuario" name="NombreUsuario" placeholder="Nombre de usuario">
    <br>
    <label for="Nombre">Ingrese el nombre:</label>
    <input type="text" id="Nombre" name="Nombre" placeholder="Nombre">
    <br>
    <label for="Apellido">Ingrese el apellido:</label>
    <input type="text" id="Apellido" name="Apellido" placeholder="Apellido">
    <br>
    <label for="Correo">Ingrese el correo:</label>
    <input type="email" id="Correo" name="Correo" placeholder="Correo">
    <br>
    <label for="FechaNacimiento">Ingrese la fecha de nacimiento:</label>
    <input type="date" name="FechaNacimiento" id="FechaNacimiento">
    <br>
    <label for="Clave">Ingrese la clave:</label>
    <input type="password" id="Clave" name="clave" placeholder="clave">
    <br>
    <label for="Administrador">Administrador</label>
    <input type="checkbox" id="Administrador" name="Administrador" id="Administrador">
    <br>
    <label for="Activo">Activo</label>
    <input type="checkbox" id="activo" name="Activo" id="Activo">
    <br>
    <input type="button" value="Guardar" onclick="CrearUsuario()">

</body>
</html>