@model Final.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<body>
    <section>
        <div class="container-lg col-4">
            <h1>Bienvenido</h1>
            <form asp-action="Login" method="POST">
                <!-- Usuario -->
                <div class="input-group mb-3">
                    <label asp-for="Usuario" class="input-group-text">Usuario</label>
                    <input asp-for="Usuario" type="text" class="form-control" placeholder="Ingresar usuario" id="usuario">
                    <span asp-validation-for="Usuario" class="text-danger"></span>
                </div>

                <!-- Contraseña -->
                <div class="input-group mb-3">
                    <label asp-for="Clave" class="input-group-text">Contraseña</label>
                    <input asp-for="Clave" type="password" class="form-control" placeholder="Ingresar Contraseña" id="password">
                    <span asp-validation-for="Clave" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </div>
    </section>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}