@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <br />
    <p>Esto es un proyecto creado como trabajo final para la Certificación en Programación.</p>
    <br />
    <p>Sistema de control de stock.</p>
   
</div>
